*{
  box-sizing: border-box;
  font-family: $font-geo;
}

html{
  scroll-behavior: smooth;
}
  
body{
  background-color: $white;
  width: 100%;
  margin: 0;
}

p{
  font-size: 20px;

  @include responsive-xs{
    font-size: 16px !important;
  }
}

h1{
  font-family: $font-edensor;
  margin: 0;
}

hr{
  margin: 0;

  @include responsive-xs{
    border: 1px solid black;
  }
}

.yellow{
    background-color: $yellow;
}

.green{
    background-color: $green;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.hide{
  display: none !important;
}

.mobile{
  display: none;

  @include responsive-xs{
    display: flex;
  }
}

.desktop{
  display: block;

  @include responsive-xs{
    display: none;
  }
}