*{
  box-sizing: border-box;
  font-family: $font-geo;
}

html{
  scroll-behavior: smooth;
}
  
body{
  background-color: $white;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $font-edensor;
  margin: 0;
}

hr{
  margin: 0;
}

.yellow{
    background-color: $yellow;
}

.green{
    background-color: $green;
}

.hidden{
  display: none;
}