{% extends '_layout.html.twig' %}

{% set pageTemplate = 'data' %}
{% set pageTitle = 'Données personnelles' %}
{% set titleTag = 'data.titleTag'|trans %}
{% set metaDescription = 'data.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
        <div class="data lazyload">
            {% include 'include/page-header.html.twig' %}
            <div class="data-content">
                <h1 class="title">{{ 'data.content.title'|trans}}</h1>
                <p class="text">{{ 'data.content.text'|trans|raw }}</p>
            </div>
        </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}