<div class="donation-menu">
    <a class="donation-menu-item yellow" href="{{ 'odadi.donation'|trans }}" target="_blank">
        <img src="{{ asset('build/img/logos/gift.png') }}" alt="Don">
        <p class="link-text lazyload-right">Donation</p>
    </a>
    <a class="donation-menu-item green" href="{{ 'odadi.membership'|trans }}" target="_blank">
        <img src="{{ asset('build/img/logos/member.png') }}" alt="Membre">
        <p class="link-text lazyload-right">Adhésion</p>
    </a>
</div>