<div class="donation-menu">
    <div class="donation-menu-item yellow">
        <a class="link" href="{{ 'odadi.donation'|trans }}" target="_blank"><img src="{{ asset('build/img/logos/gift.png') }}" alt="Don"></a>
        <p class="link-text">Faire un don</p>
    </div>
    <div class="donation-menu-item green">
        <a class="link" href="{{ 'odadi.membership'|trans }}" target="_blank"><img src="{{ asset('build/img/logos/member.png') }}" alt="Membre"></a>
        <p class="link-text">Adhésion</p>
    </div>
</div>