<div class="footer">
    <ul class="footer-content">
        <li class="footer-content-map">
            <map name=""></map>
            <p>6 Rue Des Hortensias 35270 Combourg</p>
        </li>
        <li class="footer-content-rgpd">
            <ul class="footer-content-rgpd-list">
                <li>
                    <a href="">Données Personnelles</a>
                </li>
                <li>
                    <a href="">Cookies</a>
                </li>
                <li>
                    <a href="">Mentions Légales</a>
                </li>
            </ul>
        </li>
        <li class="footer-content-social">
            <p>Retrouvez-nous</p>
            <div class="footer-content-social-logos"></div>
        </li>
        <li class="footer-content-partner">
            <p>Partenaires</p>
            <img src="" alt="">
        </li>
    </ul>
</div>