{% extends '_layout.html.twig' %}

{% set pageTemplate = 'actions' %}
{% set pageTitle = 'Nos Actions' %}
{% set titleTag = 'actions.titleTag'|trans %}
{% set metaDescription = 'actions.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="actions lazyload-right">
        {% include 'include/page-header.html.twig' %}
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}