{% extends '_layout.html.twig' %}

{% set pageTemplate = 'history' %}
{% set titleTag = 'history.titleTag'|trans %}
{% set metaDescription = 'history.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="history">
        <div class="history-header">
            <h1>Notre histoire</h1>
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}