{% extends '_layout.html.twig' %}

{% set pageTemplate = 'home' %}
{% set titleTag = 'home.titleTag'|trans %}
{% set metaDescription = 'home.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="home">
        <div class="home-header">
            <h1>Aidez nous à développer la communauté Malgache</h1>
            <h2>Coucou</h2>
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}