{% extends '_layout.html.twig' %}

{% import 'macro/actuality-overlook.html.twig' as actualityMacro %}

{% set pageTemplate = 'news' %}
{% set pageTitle = 'Notre actualité' %}
{% set titleTag = 'news.titleTag'|trans %}
{% set metaDescription = 'news.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="news">
        {% include 'include/page-header.html.twig' %}
        <div class="news-filter lazyload-left">
            <select class="news-filter-button button button-filter yellow">
                <option value="">Sélectionner</option>
                <option value="">Assemblée Générale</option>
                <option value="">Lettre d'informations</option>
                <option value="">Actualités</option>
            </select>
            <input type="text" class="input-search news-filter-button button button-filter yellow" placeholder="Recherche">
        </div>
        <div class="news-container lazyload">
            {% for actuality in actualities %}
                {{ actualityMacro.actualityOverlook('', actuality.picture, actuality.title, actuality.category, actuality.date, actuality.preview, actuality.slug, actuality.AG) }}
            {% endfor %}
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}