{% extends '_layout.html.twig' %}

{% import 'macro/actuality-overlook.html.twig' as actualityMacro %}

{% set pageTemplate = 'news' %}
{% set pageTitle = 'Notre actualité' %}
{% set titleTag = 'news.titleTag'|trans %}
{% set metaDescription = 'news.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="news">
        {% include 'include/page-header.html.twig' %}
        <div class="news-container lazyload">
            {{ actualityMacro.actualityOverlook('', 'build/img/logos/odadi.jpg', 'Une nouvelle école en construction', '10/10/23', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt laborum quis?', '#', true) }}
            {{ actualityMacro.actualityOverlook('', 'build/img/home/hotnews/principal-picture.jpg', 'Une nouvelle école en construction', '10/10/23', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt laborum quis?', 'nouvelle-école', false) }}
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}