{% extends '_layout.html.twig' %}

{% import 'macro/actuality-overlook.html.twig' as actualityMacro %}

{% set pageTemplate = 'news' %}
{% set pageTitle = 'Notre actualité' %}
{% set titleTag = 'news.titleTag'|trans %}
{% set metaDescription = 'news.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/donation-menu.html.twig' %}
    <div class="news">
        {% include 'include/page-header.html.twig' %}
        <div class="news-filter lazyload-left">
            <input type="text" class="input-search news-filter-button button button-filter yellow" placeholder="Recherche">
            <div class="checkbox">
                <label class="checkbox-filter" for="AG">
                    <a class="news-filter-button button button-filter yellow checkbox-AG">
                        <p>Assemblée Générale</p>
                        <input type="checkbox" class="reset" id="AG" value="AG">
                    </a>
                </label>
                <label class="checkbox-filter" for="infoletter">
                    <a class="news-filter-button button button-filter yellow checkbox-infoletter">
                        <p>Lettre d'informations</p>
                        <input type="checkbox" class="reset" id="infoletter" value="infoletter">
                    </a>
                </label>
                <label class="checkbox-filter" for="news">
                    <a class="news-filter-button button button-filter yellow checkbox-news">
                        <p>Actualités</p>
                        <input type="checkbox" class="reset" id="news" value="news">
                    </a>
                </label>
            </div>
        </div>
        <div class="news-container lazyload">
            {% for actuality in actualities %}
                {{ actualityMacro.actualityOverlook('', actuality.picture, actuality.title, actuality.category, actuality.filter, actuality.date, actuality.preview, actuality.slug, actuality.AG) }}
            {% endfor %}
        </div>
    </div>
    {% include 'include/footer.html.twig' %}
{% endblock %}