@import 'home';
@import 'news';
@import 'history';
@import 'actions';
@import 'contact';

.page{
    position: relative;
    min-height: 100vh;

    .home{
        padding: 6rem 27.5rem 17rem 27.5rem;

        @include responsive-xxl{
            padding: 6rem 10rem 17rem 10rem;
        }

        @include responsive-md{
            padding: 10rem 0 4rem 4rem;
        }

        @include responsive-xs{
            padding: 6rem 0 2rem 2rem;
        }
    }

    .news,
    .actuality,
    .history,
    .actions,
    .contact{
        padding: 8rem 15rem 17rem 27.5rem;

        @include responsive-xxl{
            padding: 8rem 10rem 17rem 10rem;
        }

        @include responsive-md{
            padding: 10rem 4rem 4rem 4rem
        }

        @include responsive-xs{
            padding: 6rem 2rem 2rem 2rem;
        }
    }

    .contact,
    .actions{

        @include responsive-xs{
            padding: 6rem 0 2rem 2rem;
        }
    }

    .contact{

        @include responsive-md{
            padding-right: 0;
        }
    }
}