@import 'home';
@import 'news';
@import 'history';

.page{
    position: relative;
    min-height: 100vh;

    .news,
    .actuality,
    .history,
    .actions,
    .contact{
        padding: 8rem 15rem 17rem 27.5rem;
    }
}