@import 'home';
@import 'news';
@import 'history';
@import 'actions';
@import 'contact';

.page{
    position: relative;
    min-height: 100vh;

    .news,
    .actuality,
    .history,
    .actions,
    .contact{
        padding: 8rem 15rem 17rem 27.5rem;

        @include responsive-xxl{
            padding: 8rem 15rem 17rem 15rem;
        }
    }
}