.page-actions{

    .actions{

        .huge-number{
            font-size: 638px;
            font-family: $font-roboto-bold;
            margin: 0;

            @include responsive-xs{
                font-size: 64px;
            }
        }

        &-background{
            position: absolute;
            width: 50%;

            &-left{
                left: -28rem;
                top: 28%;
            }

            &-right{
                right: 0;
                top: 62%;
            }
        }

        &-formation{
            margin-top: 4rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            @include responsive-xs{
                flex-flow: column nowrap;
            }

            &-presentation{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 60%;

                @include responsive-xs{
                    width: 100%;
                }

                &-img{
                    width: 60%;
                }
    
                &-info{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: flex-start;
                    position: relative;

                    &-number{
                        position: absolute;
                        top: -13rem;
                        left: -3rem;

                        @include responsive-xs{
                            left: 0;
                        }
                    }

                    &-text{
                        width: 70%;

                        .title{
                            font-size: 64px;
                            font-family: $font-geo;
                            font-weight: 200;
                        }

                        .text{
                            font-size: 20px;
                        }
                    }
                }
            }

            &-selector{
                position: relative;
                width: 30%;

                .switch-button{
                    position: absolute;
                    top: 25%;
                    width: 100%;

                    .previous{
                        position: absolute;
                        left: -2rem;
                        padding: 1rem;
                        border-radius: 50%;
                        border: 0;
                        cursor: pointer;

                        img{
                            width: 2rem;
                        }
                    }

                    .next{
                        position: absolute;
                        right: -2rem;
                        padding: 1rem;
                        border-radius: 50%;
                        border: 0;
                        cursor: pointer;

                        img{
                            width: 2rem;
                        }
                    }
                }
            }
        }

        &-food,
        &-urban{
            margin-top: 8rem;
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
            position: relative;
            width: 70%;

            &-background{
                position: absolute;
                z-index: -1000;
            }

            &-header{
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
                gap: 4rem;
                margin-top: 14rem;

                &-text{
                    font-size: 20px;
                }

                &-title{
                    display: flex;
                    flex-flow: column nowrap;
                    position: relative;
                    width: 30%;

                    .number{
                        position: absolute;
                        top: -34rem;
                        left: -1rem;
                        font-size: 475px;
                    }

                    .title{
                        font-size: 64px;
                        font-family: $font-geo;
                        font-weight: 200;
                    }
                }
            }

            &-line{
                width: 170.9%;
                border: 1px solid black;
            }

            &-presentation{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                position: relative;

                &-img{
                    position: relative; 
                    left: -3rem;
                }

                &-text{
                    width: 30%;

                    .title{
                        font-size: 30px;
                        font-family: $font-roboto-bold;
                        font-weight: 200;
                    }

                    .text{
                        font-size: 20px;
                    }
                }
            }
        }

        &-farming{
            margin-top: 8rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: start;
            justify-content: space-between;
            gap: 4rem;

            &-presentation{
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;

                &-header{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: end;
                    gap: 2rem;
                    position: relative;

                    .number{
                        position: absolute;
                        top: -13rem;
                        left: -3rem;
                    }

                    .presentation{
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 2rem;
                        width: 55%;

                        &-title{
                            font-size: 64px;
                            font-family: $font-geo;
                            font-weight: 200;
                        }

                        &-text{
                            font-size: 20px;
                        }
                    }
                }
            }

            &-cards{
                margin-top: 6rem;
                display: flex;
                flex-flow: row nowrap;
                gap: 4rem;
            }
        }
    }
}