.page-actions{

    .actions{

        .huge-number{
            font-size: 638px;
            font-family: $font-roboto-bold;
            margin: 0;
        }

        &-background{
            position: absolute;
            width: 50%;

            &-left{
                left: -28rem;
                top: 28%;
            }

            &-right{
                right: 0;
                top: 62%;
            }
        }

        &-formation{
            margin-top: 4rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            @include responsive-xs{
                gap: 2rem;
                flex-flow: column nowrap;
                align-items: center;
            }

            &-presentation{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 60%;

                @include responsive-xs{
                    width: 100%;
                    gap: 2rem;
                }

                &-img{
                    width: 60%;

                    @include responsive-xs{
                        width: 70%;
                    }
                }
    
                &-info{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: flex-start;
                    position: relative;

                    &-number{
                        position: absolute;
                        top: -13rem;
                        left: -3rem;

                        @include responsive-xs{
                            left: 0;
                        }
                    }

                    &-text{
                        width: 70%;

                        @include responsive-xs{
                            width: 100%;
                        }

                        .title{
                            font-size: 64px;
                            font-family: $font-geo;
                            font-weight: 200;

                            @include responsive-xs{
                                font-size: 40px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            &-selector{
                position: relative;
                width: 30%;

                @include responsive-xs{
                    width: 80%;
                }

                .switch-button{
                    position: absolute;
                    top: 25%;
                    width: 100%;

                    .previous{
                        position: absolute;
                        left: -2rem;
                        padding: 1rem;
                        border-radius: 50%;
                        border: 0;
                        cursor: pointer;

                        img{
                            width: 2rem;
                        }
                    }

                    .next{
                        position: absolute;
                        right: -2rem;
                        padding: 1rem;
                        border-radius: 50%;
                        border: 0;
                        cursor: pointer;

                        img{
                            width: 2rem;
                        }
                    }
                }
            }
        }

        &-food,
        &-urban{
            margin-top: 8rem;
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
            position: relative;
            width: 70%;

            @include responsive-xs{
                margin-top: 4rem;
                width: 100%;
            }

            &-background{
                position: absolute;
                z-index: -1000;

                @include responsive-xs{
                    left: 4rem;
                    top: 50%;

                    img{
                        width: 100%;
                    }
                }
            }

            &-header{
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
                gap: 4rem;
                margin-top: 14rem;

                @include responsive-xs{
                    margin-top: 0;
                    flex-flow: column-reverse nowrap;
                }

                &-title{
                    display: flex;
                    flex-flow: column nowrap;
                    position: relative;
                    width: 30%;

                    @include responsive-xs{
                        width: 100%;
                        position: unset;
                        align-items: end;
                    }

                    .number{
                        position: absolute;
                        top: -34rem;
                        left: -1rem;
                        font-size: 475px;
                    }

                    .title{
                        font-size: 64px;
                        font-family: $font-geo;
                        font-weight: 200;

                        @include responsive-xs{
                            font-size: 40px;
                        }
                    }
                }
            }

            &-line{
                width: 170.9%;
                border: 1px solid black;

                @include responsive-xs{
                    position: absolute;
                    top: 3rem;
                    right: -2rem;
                    width: 70%;
                }
            }

            &-presentation{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                position: relative;

                @include responsive-xs{
                    flex-flow: column nowrap;
                    gap: 2rem;
                }

                &-img{
                    position: relative; 
                    left: -3rem;

                    @include responsive-xs{
                        left: 0;
                        width: 70%;
                    }
                }

                &-text{
                    width: 30%;

                    @include responsive-xs{
                        width: 100%;
                    }

                    .title{
                        font-size: 30px;
                        font-family: $font-roboto-bold;
                        font-weight: 200;
                    }

                    .text{
                        font-size: 20px;
                    }
                }
            }
        }

        &-farming{
            margin-top: 8rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: start;
            justify-content: space-between;
            gap: 4rem;

            @include responsive-xs{
                margin-top: 4rem;
                flex-flow: column nowrap;
                gap: 2rem;
                position: relative;
                padding-top: 15rem;
            }

            &-presentation{
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;

                @include responsive-xs{
                    width: 100%;
                }

                &-header{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: end;
                    gap: 2rem;
                    position: relative;

                    .number{
                        position: absolute;
                        top: -13rem;
                        left: -3rem;
                    }

                    .presentation{
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 2rem;
                        width: 55%;

                        @include responsive-xs{
                            gap: 0;
                            width: 100%;
                            align-items: center;
                        }

                        &-title{
                            font-size: 64px;
                            font-family: $font-geo;
                            font-weight: 200;

                            @include responsive-xs{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }

            &-cards{
                margin-top: 6rem;
                display: flex;
                flex-flow: row nowrap;
                gap: 4rem;

                @include responsive-xs{
                    margin-top: 0;
                    gap: 2rem;
                    overflow: scroll;

                    .card-container{
                        width: 18rem;
                    }
                }
            }

            &-img{

                @include responsive-xs{
                    position: absolute;
                    top: 0;
                    left: 4.5rem;
                    width: 13rem;
                    height: 13rem;
                    border-radius: 100%;
                    object-fit: cover;
                    object-position: 0 20%;
                }
            }
        }

        &-urban{

            @include responsive-xs{
                margin-bottom: 30rem;
            }

            &-line{

                @include responsive-xs{
                    width: 85%;
                }
            }
        }
    }
}