.page-history{

    .history{

        img{
            height: fit-content;
        }

        &-background{
            position: absolute;
            left: -60%;
            bottom: 30%;
            z-index: -1;

            @include responsive-md{
                left: -45rem;
                bottom: unset;
                top: 60rem;
                width: 150%;
            }

            @include responsive-xs{
                left: -45rem;
                bottom: unset;
                top: 0;
                width: 250%;
            }
        }

        &-content{
            display: flex;
            flex-flow: column nowrap;
            gap: 8rem;
            margin-top: 4rem;
            margin-bottom: 30rem;

            @include responsive-xs{
                margin-top: 2rem;
                gap: 1rem;
            }

            .presentation-title{

                @include responsive-xs{
                    font-size: 35px;
                    font-family: $font-geo;
                    font-weight: 100;
                }
            }

            &-whoarewe{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                @include responsive-md{
                    display: block;
                }

                &-img{

                    @include responsive-md{
                        float: left;
                    }

                    @include responsive-xs{
                        float: left;
                        width: 10rem;
                    }
                }

                &-background{
                    position: absolute;
                    left: 35%;
                    opacity: 0.1;
                    z-index: -1;
                }

                .presentation{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: end;

                    @include responsive-md{
                        display: block;
                    }

                    &-title{
                        font-size: 64px;
                        font-family: $font-geo;
                        font-weight: 100;

                        @include responsive-md{
                            display: block !important;
                            text-align: end;
                        }

                        @include responsive-xs{
                            display: none !important;
                        }
                    }

                    &-text{
                        width: 50%;
                        font-size: 24px;
                        text-align: end;

                        @include responsive-xxl{
                            width: 80%;
                        }

                        @include responsive-md{
                            width: 100%;
                        }
                    }
                }
            }

            &-creation{
                display: flex;
                flex-flow: row-reverse nowrap;
                justify-content: space-between;

                @include responsive-md{
                    display: block;
                }

                .presentation{
                    display: flex;
                    flex-flow: column nowrap;

                    @include responsive-md{
                        display: block;
                    }
    
                    &-title{
                        font-size: 64px;
                        font-family: $font-geo;
                        font-weight: 100;

                        @include responsive-xs{
                            font-size: 40px;
                        }
                    }
    
                    &-text{
                        width: 80%;
                        font-size: 24px;
                        text-align: start;
                        
                        @include responsive-xs{
                            width: 100%;
                        }
                    }
                }

                &-img{

                    @include responsive-md{
                        float: right;
                        width: 25rem;
                    }

                    @include responsive-xs{
                        width: 10rem;
                        margin-top: 4rem;
                    }
                }
            }

            &-association{
    
                .presentation{
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: end;
    
                    &-title{
                        font-size: 64px;
                        font-family: $font-geo;
                        font-weight: 100;

                        @include responsive-xs{
                            font-size: 38px;
                        }
                    }
    
                    &-text{
                        font-size: 24px;
                    }
                }
            }

            &-team{
                display: flex;
                flex-flow: column nowrap;
                gap: 4rem;
                justify-content: center;
                position: relative;
                left: -5.5rem;

                @include responsive-md{
                    left: 0;
                }

                @include responsive-xs{
                    gap: 4rem;
                }

                &-title{
                    font-size: 64px;
                    font-family: $font-geo;
                    font-weight: 100;
                    text-align: center;

                    @include responsive-xs{
                        font-size: 40px;
                    }
                }

                &-member{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    gap: 20%;
                    row-gap: 8rem;
                    padding-bottom: 8rem;

                    @include responsive-xs{
                        padding-bottom: 6rem;
                        row-gap: 4rem;
                        column-gap: 0;
                    }

                    .member{
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 2rem;
                        align-items: center;

                        @include responsive-xs{
                            width: 9rem;
                            justify-content: center;
                        }

                        &-text{
                            margin-left: 2rem;

                            @include responsive-xs{
                                font-size: 20px;
                            }
                        }
                    }
                }

                &-button{
                    font-size: 18px;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    @include responsive-md{
                        font-size: 24px;
                        width: 16rem;
                    }

                    @include responsive-xs{
                        font-size: 12px;
                        width: 8rem;
                    }
                }
            }
        }
    }

    .team-background{
        position: absolute;
        z-index: -2;
        bottom: 0;
        width: 100%;

        @include responsive-md{
            bottom: 24rem;
        }

        @include responsive-xs{
            bottom: 24rem;
        }
    }
}