.page-home{

    .home{
        padding: 6rem 27.5rem 17rem 27.5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 6rem;

        @include responsive-xxl{
            padding: 6rem 15rem 17rem 15rem;
        }

        h1{
            font-size: 56px;
            font-weight: 200;
        }

        &-background{
            position: absolute;
            left: -55%;
            bottom: 0;
            z-index: -1;

            @include responsive-xxl{
                left: -80%;
            }
        }

        &-header{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &-title{
                text-align: end;
                width: 40%;
            }

            &-background{
                position: absolute;
                left: 25%;
                opacity: 0.1;
                z-index: -1;
            }
        }

        &-actions{
            position: relative;
            width: 100%;

            &-title{
                position: absolute;
                left: 50%;
                top: -3rem;
            }

            hr{
                position: absolute;
                right: -27.5rem;
                width: 93%;

                @include responsive-xxl{
                    right: -15rem;
                    width: 73%;
                }
            }

            &-slides{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: 2rem;
                margin-bottom: 1rem;

                &-left,
                &-right,
                &-center{
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 1rem;
                }
            }

            &-button{
                position: absolute;
                right: 0;
            }
        }

        &-hotnews{
            margin-top: 4rem;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            gap: 5rem;
            
            &-img{
                position: relative;

                .ellipse{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .principal-cropper{
                    width: 20rem;
                    height: 20rem;
                    position: relative;
                    top: 2rem;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: -1;

                    &-img{
                        display: inline;
                        margin: 0 auto;
                        margin-left: -25%;
                        height: 100%;
                        width: auto;
                    }
                }

                .second-cropper{
                    width: 10rem;
                    height: 10rem;
                    position: relative;
                    top: -5rem;
                    left: 60%;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: -1;

                    &-img{
                        display: inline;
                        margin: 0 auto;
                        margin-left: -25%;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            &-actuality{
                display: flex;
                flex-flow: column nowrap;
                width: 40%;
                margin-bottom: 10rem;

                &-news{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: end;
                    gap: 1rem;

                    &-title{
                        font-size: 28px;
                        font-weight: 800;
                        text-align: end;
                        margin-bottom: 0;
                    }

                    &-info{
                        font-size: 24px;
                        text-align: end;
                        margin: 0;
                    }
                }
            }
        }
    }
}