.page-home{

    .home{
        display: flex;
        flex-flow: column nowrap;
        gap: 6rem;

        h1{
            font-size: 56px;
            font-weight: 200;

            @include responsive-md{
                font-size: 48px;
                font-weight: 800;
            }

            @include responsive-xs{
                font-size: 28px;
            }
        }

        &-background{
            position: absolute;
            left: -55%;
            bottom: 0;
            z-index: -1;

            @include responsive-xxl{
                left: -80%;
            }

            @include responsive-md{
                left: -69rem;
                top: 55rem;
                width: 200%;
            }

            @include responsive-xs{
                left: -42rem;
                top: 32rem;
                width: 250%;
            }
        }

        &-header{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include responsive-md{
                padding-right: 4rem;
            }

            @include responsive-xs{
                padding-right: 2rem;
            }

            &-img{

                @include responsive-md{
                    width: 20rem;
                }

                @include responsive-xs{
                    width: 10rem;
                }
            }

            &-title{
                text-align: end;
                width: 40%;

                @include responsive-md{
                    width: 50%;
                }
            }

            &-background{
                position: absolute;
                left: 25%;
                opacity: 0.1;
                z-index: -1;

                @include responsive-md{
                    width: 25rem;
                }

                @include responsive-xs{
                    width: 15rem;
                }
            }
        }

        &-actions{
            position: relative;
            width: 100%;

            &-title{
                position: absolute;
                left: 50%;
                top: -4rem;

                @include responsive-md{
                    left: 30%;
                }

                @include responsive-xs{
                    top: -2rem;
                }
            }

            hr{
                position: absolute;
                right: -27.5rem;
                width: 93%;

                @include responsive-xxl{
                    right: -15rem;
                    width: 73%;
                }

                @include responsive-md{
                    right: 0;
                }

                @include responsive-xs{
                    top: .5rem;
                    width: 70%;
                }
            }

            &-slides{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: 2rem;
                margin-bottom: 1rem;

                &-left,
                &-right,
                &-center{
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 1rem;

                    @include responsive-md{
                        display: none;
                    }

                    @include responsive-xs{
                        display: none;
                    }
                }

                &-mobile,
                &-pad{
                    display: none;

                    @include responsive-md{
                        display: flex;
                        flex-flow: row nowrap;
                        gap: 1rem;
                        overflow: scroll;

                        .slide{

                            img{
                                height: 25rem;

                                @include responsive-xs{
                                    max-height: 11rem;
                                }
                            }
                        }
                    }

                    .farming-right{
                        margin-right: 4rem;

                        @include responsive-xs{
                            margin-right: 2rem;
                        }
                    }
                }
            }

            &-button{
                position: absolute;
                right: 0;

                @include responsive-md{
                    right: 4rem;
                }

                @include responsive-xs{
                    right: 2rem;
                }
            }
        }

        &-hotnews{
            margin-top: 4rem;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            gap: 5rem;

            @include responsive-xs{
                flex-flow: column nowrap;
                gap: 1rem;
                align-items: center;
                padding-right: 2rem;
                margin-top: 2rem;
            }

            hr{

                @include responsive-xs{
                    position: absolute;
                    width: 66%;
                    top: 2.5rem;
                    right: 0;
                    border: 1px solid black;
                }
            }
            
            &-img{
                position: relative;

                .ellipse{
                    position: absolute;
                    top: 0;
                    left: 0;

                    @include responsive-xs{
                        width: 10rem;
                    }
                }

                .principal-cropper{
                    width: 20rem;
                    height: 20rem;
                    position: relative;
                    top: 2rem;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: -1;

                    @include responsive-xs{
                        width: 10rem;
                        height: 10rem;
                    }

                    &-img{
                        display: inline;
                        margin: 0 auto;
                        margin-left: -25%;
                        height: 100%;
                        width: auto;
                    }
                }

                .second-cropper{
                    width: 10rem;
                    height: 10rem;
                    position: relative;
                    top: -5rem;
                    left: 60%;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: -1;
                    
                    @include responsive-xs{
                        width: 5rem;
                        height: 5rem;
                        top: -1rem;
                    }

                    &-img{
                        display: inline;
                        margin: 0 auto;
                        margin-left: -25%;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            &-actuality{
                display: flex;
                flex-flow: column nowrap;
                width: 40%;
                margin-bottom: 10rem;

                @include responsive-md{
                    margin-bottom: 35rem;
                    align-items: end;
                    width: 100%;
                    padding-right: 4rem;
                }

                @include responsive-xs{
                    margin-bottom: 30rem;
                }

                &-title{

                    @include responsive-xs{
                        display: none;
                    }
                }

                &-news{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: end;
                    gap: 1rem;

                    @include responsive-xs{
                        align-items: end;
                    }

                    &-title{
                        font-size: 28px;
                        font-weight: 800;
                        text-align: end;
                        margin-bottom: 0;

                        @include responsive-xs{
                            text-align: center;
                            width: 100%;
                            font-size: 20px;
                        }
                    }

                    &-info{
                        font-size: 24px;
                        text-align: end;
                        margin: 0;

                        @include responsive-xs{
                            text-align: justify;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}