.page-home{

    .home{
        padding: 6rem 27.5rem 17rem 27.5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;

        h1{
            font-size: 56px;
            width: 40%;
            font-weight: 200;
        }

        &-header{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &-title{
                text-align: end;
            }

            &-background{
                position: absolute;
                left: 25%;
                opacity: 0.1;
                z-index: -1;
            }
        }

        &-actions{
            position: relative;
            width: 100%;

            &-title{
                position: relative;
                left: 50%;
            }

            hr{
                position: absolute;
                right: -50%;
                width: 100%;
            }

            &-slides{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: 2rem;
                margin-bottom: 1rem;

                &-left,
                &-right,
                &-center{
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 1rem;
                }
            }

            &-button{
                position: absolute;
                right: 0;
            }
        }
    }
}