.page-news{

    .news{

        &-filter{
            margin-top: 2.5rem;
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
            width: 70%;

            @include responsive-md{
                width: 100%;
            }

            .input-search{
                width: 100%;
            }

            select{
                appearance: none;  background-image: url("../img/logos/arrow.png");
                background-repeat: no-repeat;
                background-position: right 1rem top 50%;
                background-size: 1rem auto;
            }

            input{ 
                background-image: url("../img/logos/search.png");
                background-repeat: no-repeat;
                background-position: right 1rem top 50%;
                background-size: 1rem auto;
                color: black;

                &:focus,
                &:hover{
                    background-image: none;
                    background-color: $green;
                }
            }
            
            &-button{
                height: 3.5rem;

                &:has(.reset:checked){
                    background-color: $green;
                    color: $white;
                }
            }

            .checkbox{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                @include responsive-xs{
                    flex-flow: row wrap;
                    row-gap: 1rem;
                    width: fit-content;
                }

                label > a > p{
                    margin: 0;

                    @include responsive-md{
                        font-size: 16px;
                    }
                }

                label > a{
                    gap: 0;
                }
            }
        }

        &-container{
            margin-top: 6.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 5rem;

            @include responsive-md{
                margin-bottom: 35rem;
            }

            @include responsive-xs{
                flex-flow: column nowrap;
                justify-content: unset;
                margin-top: 4rem;
                gap: 2rem;
                margin-bottom: 30rem;
            }
        }
    }
}