.page-news{

    .news{

        &-container{
            margin-top: 6.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 5rem;
        }
    }
}