.page-news{

    .news{

        &-filter{
            margin-top: 2.5rem;
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;

            select{
                appearance: none;  background-image: url("../img/logos/arrow.png");
                background-repeat: no-repeat;
                background-position: right 1rem top 50%;
                background-size: 1rem auto;
            }

            input{ 
                background-image: url("../img/logos/search.png");
                background-repeat: no-repeat;
                background-position: right 1rem top 50%;
                background-size: 1rem auto;
                color: black;

                &:focus,
                &:hover{
                    background-image: none;
                    background-color: $green;
                }
            }
            
            &-button{
                height: 3.5rem;
            }
        }

        &-container{
            margin-top: 6.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 5rem;
        }
    }
}