{% macro imgMember(img, mail) %}
    <a class="img-member" href="mailto:{{ mail }}">
        <img style="transform: rotate({{ random(45,180) }}deg)" class="ellipse" src="{{ asset('build/img/history/team/team-ellipse.png') }}" alt="">
        <div class="cropper">
            <img class="cropper-img" src="{{ asset(img) }}" alt="">
        </div>
    </a>
{% endmacro %}