@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edensor';
    src: url('../fonts/edensor-webfont.woff2') format('woff2'),
         url('../fonts/edensor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geosanslight';
    src: url('../fonts/geosanslight-webfont.woff2') format('woff2'),
         url('../fonts/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geosanslight-oblique';
    src: url('../fonts/geosanslight-oblique-webfont.woff2') format('woff2'),
         url('../fonts/geosanslight-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}