$white: #FFFFFF;
$grey: #F2F2F2;
$green: #7FEBAA;
$green-opacity: hsla(144, 73%, 71%, 0.6);
$green-light: #A5FFD0;
$yellow: #FFE888;
$yellow-opacity: hsla(48, 100%, 77%, 0.6);
$yellow-light: #FFFFAE;

$font-geo: 'geosanslight';
$font-geo-oblique: 'geosanslight-oblique';
$font-roboto-bold: 'roboto-bold';
$font-roboto-regular: 'roboto-regular';
$font-edensor: 'edensor';