$white: #FFFFFF;
$grey: #F2F2F2;
$green: #7FEBAA;
$green-light: #A5FFD0;
$yellow: #FFE888;
$yellow-light: #FFFFAE;

$font-geo: 'geosanslight';
$font-geo-oblique: 'geosanslight-oblique';
$font-roboto-bold: 'roboto-bold';
$font-roboto-regular: 'roboto-regular';
$font-edensor: 'edensor';