.card-container{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;

    .card{
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        padding: 1rem;

        @include responsive-md{
            gap: 1.5rem;
        }

        &-header{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
    
            &-number{
                font-size: 128px;
                font-family: $font-geo-oblique;
                margin: 0;

                @include responsive-md{
                    font-size: 64px;
                }
    
                strong{
                    font-family: $font-roboto-bold;
                }
            }
    
            &-title{
                font-size: 64px;
                font-family: $font-geo;
                text-align: center;

                @include responsive-md{
                    font-size: 32px;
                }
            }
        }
    
        &-text{
            font-size: 20px;
        }
    }
}