.img-member{
    position: relative;

    .ellipse{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .cropper{
        width: 13rem;
        height: 13rem;
        position: relative;
        top: 1rem;
        left: 1rem;
        overflow: hidden;
        border-radius: 50%;
        z-index: -1;
    
        &-img{
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
    }
}