.slide{
    text-decoration: none;
    position: relative;

    .vertical{
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 28px;
    }

    &-text{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 40px;
        font-weight: 800;
        margin: 0;
        z-index: 999;

        @include responsive-md{
            display: block;
            border: 1px solid $white;
            word-wrap: break-word;
            width: 12rem;
            font-size: 60px;
            padding: 1rem;
            text-align: center;
        }

        @include responsive-xs{
            font-size: 28px;
            width: 5rem;
            padding: 0.3rem;
        }
    }

    &:hover{

        img{
            filter: blur(0.6px);
        }

        .slide-text{
            display: block;
        }

        .slide-background{
            display: block;
        }
    }

    &-green{

        .slide-background{
            display: none;
            position: absolute;
            top: 0;
            z-index: 500;
            width: 100%;
            height: 100%;
            background-color: $green-opacity;

            @include responsive-md{
                display: block;
            }
        }
    }

    &-yellow{

        .slide-background{
            display: none;
            position: absolute;
            top: 0;
            z-index: 500;
            width: 100%;
            height: 100%;
            background-color: $yellow-opacity;

            @include responsive-md{
                display: block;
            }
        }

        .slide-text{
            color: black;

            @include responsive-md{
                color: $white;
            }
        }
    }
}