.donation-menu{
    position: fixed;
    left: 7.5rem;
    top: 15rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 3rem;

    .yellow{
        background-color: $yellow;
    }

    .green{
        background-color: $green;
    }

    .link-text{
        display: none;
        margin: 0;
        color: black;
    }

    &-item{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-decoration: none;
        width: 3.5rem;
        border-radius: 50px;
        gap: 1rem;
        padding: 1rem;
        transition: width .6s ease; 

        img{
            width: 1.5rem;
        }

        &:hover{
            width: 15rem;

            .link-text{
                display: block;
            }
        }
    }
}