.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: $grey;
    padding: 2rem 15rem 2rem 15rem;
    font-size: 20px;

    a{
        text-decoration: none;
        color: black;
    }

    &-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        &-map{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 4rem;

            .postal-adress{
                text-align: center;
            }
        }

        &-rgpd{

            &-list{
                display: flex;
                flex-flow: column nowrap;
                gap: 0.5rem;
                list-style: none;
                text-align: center;
                padding: 0;
            }
        }

        &-social{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            &-logos{
                display: flex;
                flex-flow: row nowrap;
                gap: 3rem;
            }
        }

        &-partner{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            &-logos{
                display: flex;
                flex-flow: row nowrap;

                img{
                    width: 7rem;
                }
            }
        }
    }
}