.page-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include responsive-xs{
        justify-content: unset;
        gap: 26vw
    }

    h1{
        font-size: 56px;
        font-weight: 200;

        @include responsive-xs{
            font-size: 28px;
        }
    }

    &-button{
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        p{
            margin: 0;
        }
    }
}

.title-line{
    position: absolute;
    right: 0;
    width: 78%;
    margin: 0;

    @include responsive-xxl{
        width: 84%;
    }

    @include responsive-xs{
        width: 58%;
    }
}

.page-filter{
    margin-top: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;

    select{
        appearance: none;  background-image: url("../img/logos/arrow.png");
        background-repeat: no-repeat;
        background-position: right 1rem top 50%;
        background-size: 1rem auto;
    }

    input{ 
        background-image: url("../img/logos/+.png");
        background-repeat: no-repeat;
        background-position: right 1rem top 50%;
        background-size: 1rem auto;

        &:focus,
        &:hover{
            background-image: none;
        }
    }
    
    &-button{
        height: 3.5rem;
    }
}