.page-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include responsive-xs{
        justify-content: unset;
        gap: 26vw;
    }

    h1{
        font-size: 56px;
        font-weight: 200;

        @include responsive-xs{
            font-size: 28px;
        }
    }

    &-button{
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        p{
            margin: 0;
        }
    }
}

.title-line{
    position: absolute;
    right: 0;
    width: 78%;
    margin: 0;

    @include responsive-xxl{
        width: 88%;
    }

    @include responsive-md{
        width: 92%;
    }

    @include responsive-xs{
        width: 60%;
    }
}